.character-header {
  height: 220px;
  background: url(https://lzlbwfwnvukgyfaekuzt.supabase.co/storage/v1/object/sign/quests/wallpapersden.com_pathfinder-kingmaker_1920x1080.jpg?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1cmwiOiJxdWVzdHMvd2FsbHBhcGVyc2Rlbi5jb21fcGF0aGZpbmRlci1raW5nbWFrZXJfMTkyMHgxMDgwLmpwZyIsImlhdCI6MTY5NjUwODM4NSwiZXhwIjoxNzI4MDQ0Mzg1fQ.c7JCZanxjonx7ibr4HBfTxhGsBPDuImjNzblNjSYzMw&t=2023-10-05T12%3A19%3A45.943Z);
  background-position: 50% 35%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: end;
  text-shadow: 0 0 8px #222;

  .page-title {
    width: 100%;
    background: linear-gradient(180deg, transparent, #252525);
  }
}

.page-title {
  text-align: center;
  font-size: 2.5rem;
}

.characters-list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 24px;
}

.character-card {
  border: 1px solid #777;
  border-radius: 4px;
  padding: 10px;
  display: flex;
  gap: 12px;

  & .char-sprite-bg {
    background-color: #ddd;
  }

  & .char-sprite {
    width: 80px;
    height: 90px;
    overflow: hidden;
    image-rendering: pixelated;
    background: url(https://lzlbwfwnvukgyfaekuzt.supabase.co/storage/v1/object/sign/quests/ff-sprites.png?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1cmwiOiJxdWVzdHMvZmYtc3ByaXRlcy5wbmciLCJpYXQiOjE2OTY1MzgxMDEsImV4cCI6MTcyODA3NDEwMX0.It7Gw3ER94KWpoFVz0a6kkxq-ZFFG2-IvwjnI8cuEV0&t=2023-10-05T20%3A35%3A01.535Z);
    background-position: 0px -20px;
    background-size: 1000px;
  }
}

.add-characters {
  display: inline-block;
  width: 200px;
  border: 1px solid #777;
  border-radius: 4px;
  padding: 10px;
  text-align: center;
}
