.character-header {
  height: 220px;
  background: url(https://lzlbwfwnvukgyfaekuzt.supabase.co/storage/v1/object/sign/quests/wallpapersden.com_pathfinder-kingmaker_1920x1080.jpg?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1cmwiOiJxdWVzdHMvd2FsbHBhcGVyc2Rlbi5jb21fcGF0aGZpbmRlci1raW5nbWFrZXJfMTkyMHgxMDgwLmpwZyIsImlhdCI6MTY5NjUwODM4NSwiZXhwIjoxNzI4MDQ0Mzg1fQ.c7JCZanxjonx7ibr4HBfTxhGsBPDuImjNzblNjSYzMw&t=2023-10-05T12%3A19%3A45.943Z);
  background-position: 50% 35%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: end;
  text-shadow: 0 0 8px #222;

  .page-title {
    width: 100%;
    text-align: center;
    font-size: 2.5rem;
    background: linear-gradient(180deg, transparent, #252525);
  }
}

.characters-list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  padding-top: 40px;
  gap: 24px;
}

.character-card {
  width: 280px;
  height: 115px;
  border: 1px solid #333;
  background-color: #121212;
  border-radius: 4px;
  padding: 10px 12px;
  display: flex;
  gap: 12px;
}

.character-image {
  background-color: #555;
  border-radius: 4px;

  .char-sprite {
    width: 80px;
    height: 90px;
    overflow: hidden;
    image-rendering: pixelated;
    background: url(https://lzlbwfwnvukgyfaekuzt.supabase.co/storage/v1/object/sign/quests/ff-sprites.png?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1cmwiOiJxdWVzdHMvZmYtc3ByaXRlcy5wbmciLCJpYXQiOjE2OTY1MzgxMDEsImV4cCI6MTcyODA3NDEwMX0.It7Gw3ER94KWpoFVz0a6kkxq-ZFFG2-IvwjnI8cuEV0&t=2023-10-05T20%3A35%3A01.535Z);
    background-position: 0px -20px;
    background-size: 1000px;
  }
}

.character-info {
  width: 100%;

  .char-name-display {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  
  .char-name {
    font-size: 1.25rem;
  }

  .char-level {
    color: #49aef7;
  }

  .char-attrs {
    font-size: 0.95rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

.add-characters {
  display: flex;
  width: 280px;
  height: 115px;
  border: 1px solid #999;
  border-radius: 4px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  filter: brightness(0.4);
  transition: filter 180ms;

  &:hover {
    filter: brightness(1);
  }
}
