/* Colors: https://colorswall.com/es/palette/239821 */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

html, body {
  height: 100%;
}

body {
  font-family: 'Mukta', sans-serif;
  background-color: #222;
  color: #eee;
}

a {
  color: #eee;
}

button {
  background-color: #0b8758;
  color: #fff;
  font-size: 0.95rem;
  padding: 10px 12px;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 2px 1px 1px #024d31;
  transition: all 100ms;

  &:active {
    background-color: #024d31;
    box-shadow: none;
  }
}

.form-control {
  display: block;

  > span {
    display: inline-block;
    padding-bottom: 6px;
  }

  > input {
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 14px;
    color: inherit;

    &.error {
      border: 1px solid #d45;
    }
  }
  
  > sub.error {
    color: #d45;
  }
}

.error-container {
  border: 1px solid #f56;
  background-color: #f563;
  color: #f56;
  padding: 12px 18px;
  border-radius: 4px;

  .error-field {
    font-weight: bold;
  }

  .error-field-list {
    padding-left: 30px;
    
    > li {
      list-style: disc;
    }
  }
}
