* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #222;
  color: #eee;
}

.todo-list {
  & li {
    & .delete {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}
